*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background: #1A0B2E;
    color: #fff;
}

/* variable */
:root{
    --accent-color:#00FF88;
}

/* shared styles */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.section-title{
    font-size: 48px;
    font-weight: bold;
}
.section-info{
    font-size: 16px;
    line-height: 20px;
}
.card-title{
    font-size: 24px;
    font-weight: bold;
}
.card-info{
    font-size: 16px;
    line-height: 24px;
}
.primary-btn{
    padding: 12.5px 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(20deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: #fff;
    border-radius: 100px;
    border-style: none;
}
.primary-btn i{
    max-width: 20px;
}
.secondery-btn{
    background: transparent;
    border: 1px solid var(--accent-color);
    color: var();
}

.flex{
    display: flex;
}

/* normal styles */

nav{
    justify-content: space-between;
    padding: 24px;
    align-items: center;
}
nav .logo{
    max-width: 219px;
    height: 32px;
}
nav .menu{
    list-style: none;
    gap: 32px;
}
nav .menu li a{
    font-weight: 500;
    line-height: 120%;
    text-decoration: none;
    color: #fff;
}
nav .hamburger{
    display: none;
}

/* banner section */
#banner{
    background: url(./assets/hero-bg.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-top: 1px solid #2A186C;
    padding: 101px 0;
    
    /* height: 760px; */
}

#banner .banner-content{
    /* margin: 101px 0; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner .banner-content .circle-container {
    background: url(./assets/hero-circle.png);
    background-size: contain;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#banner .banner-content .circle-container .notice{
    background: var(--accent-color);
    color: #1A0B2e;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 100px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    position: absolute;
    top: 12px;
    right: 25px;
}
#banner .banner-content .microphone{
    max-width:116px;
}

#banner .banner-content .banner-title{
    font-size: 60px;
    font-weight: bolder;
    margin-top: 40px;
}
#banner .banner-content .bannerinfo{
    margin: 8px 0 24px;
}
#banner .banner-content .btn-container{
    gap: 8px;
}



/* medium responsive design */
@media screen and (min-width: 576px) and (max-width:992px) {
    #banner{
        background-position-y: 150px;
    }
}







/* mobile responsive */

@media screen and (max-width: 576px) {
    /* shared styles */
    .section-title{
    font-size: 32px;
    }
    .card-title{
    font-size: 22px;
    }


    /* normal style */
    nav{
        padding: 18px 20px;
        
    }
    nav .logo{
        max-width: 137px;
        height: 20px;
    }
    nav .menu{
        display: none;
    }
    nav .header-btn{
        display: none;
    }
    nav .hamburger{
        display: block;
        max-width: 24px;
    }


    /* banner-section */
    #banner{
        padding: 40px 20px;
        height: 466px;
        background-position-y: 60px;
    }
    #banner .banner-content .circle-container {
    width: 200px;
    height: 200px;
    }
    #banner .banner-content .microphone{
    max-width:80px;
    }
    #banner .banner-content .circle-container .notice{
        top: 0;
        right: 0;
    }
    #banner .banner-content .banner-title{
        font-size: 40px;
    }
}