*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background: #1A0B2E;
    color: #fff;
}

/* variable */
:root{
    --accent-color:#00FF88;
}

/* shared styles */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.section-title{
    font-size: 48px;
    font-weight: bold;
}
.section-info{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 80%;
}
.card-title{
    font-size: 24px;
    font-weight: bold;
}
.card-info{
    font-size: 16px;
    line-height: 24px;
     opacity: 80%;
}
.primary-btn{
    padding: 12.5px 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(20deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: #fff;
    border-radius: 100px;
    border-style: none;
    transition: all 0.5s;
}
.primary-btn i{
    max-width: 20px;
}
.primary-btn:hover{
    cursor: pointer;
    transform:scale(1.1) ;
}
.secondery-btn{
    background: transparent;
    border: 1px solid var(--accent-color);
    color: var();
}

.flex{
    display: flex;
}

/* normal styles */

nav{
    justify-content: space-between;
    padding: 24px;
    align-items: center;
}
nav .logo{
    max-width: 219px;
    height: 32px;
}
nav .menu{
    list-style: none;
    gap: 32px;
}
nav .menu li a{
    font-weight: 500;
    line-height: 120%;
    text-decoration: none;
    color: #fff;
}
nav .hamburger{
    display: none;
}

/* banner section */
#banner{
    background:url(./assets/hero-bg.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-top: 1px solid #2A186C;
    padding: 101px 0;
    
    /* height: 760px; */
}

#banner .banner-content{
    /* margin: 101px 0; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner .banner-content .circle-container {
    background: url(./assets/hero-circle.png);
    background-size: contain;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#banner .banner-content .circle-container .notice{
    background: var(--accent-color);
    color: #1A0B2e;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 100px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    position: absolute;
    top: 12px;
    right: 25px;
    animation: bouncing 1s ease-in-out 0s infinite  ;
}
#banner .banner-content .microphone{
    max-width:116px;
}

#banner .banner-content .banner-title{
    font-size: 60px;
    font-weight: bolder;
    margin-top: 40px;
}
#banner .banner-content .bannerinfo{
    margin: 8px 0 24px;
}
#banner .banner-content .btn-container{
    gap: 8px;
}

/* about section */
#about{
    margin-top: 50px;
}
#about .about-content{
    text-align: center;
    padding: 0 0 80px;
    border-bottom: 1px solid #909090;

}
#about .about-content>.section-title{
    margin-bottom: 16px;
}
#about .showcase-box{
    padding: 80px 0 120px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
#about .showcase-box .item {
    text-align: center;
}
#about .showcase-box .item .number{
    font-size: 48px;
    font-weight: bolder;
    color: var(--accent-color);
    margin-bottom: 16px;
}
#about .showcase-box .item>.section-info{
    text-transform: uppercase;
}

/* why choose section */
#why-choose{
    background: #230E3D;
    padding: 100px 20px;
}
#why-choose .section-title{
    text-align: center;

}
#why-choose .why-choose-card-box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 80px;

}
#why-choose .why-choose-card-box .card{
    background-color: rgba(53, 17, 101, 40%);
    padding: 40px;
    border-radius: 40px;
}
#why-choose .why-choose-card-box .card img{
    max-width: 60px;
}
#why-choose .why-choose-card-box .card .card-title{
    margin: 16px 0;
}
#why-choose .why-choose-card-box .card-1{
    grid-row: 1/3;
    align-content: center;
}
#why-choose .why-choose-card-box .card-2{
    grid-column: 2/4;
}
#why-choose .why-choose-card-box .card-3{
    grid-column: 2/4;
}
#why-choose .why-choose-card-box .card-4{
    grid-column: 1/3;
}


/*  FEATURED SECTION */
#featured{
    margin: 120px auto;
    padding: 0 20px;
}
#featured .section-title{
    text-align: center;
    margin-bottom: 40px;
}
#featured .featured-card-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
#featured .featured-card-box .featured-card{
    background-color: rgba(53, 17, 101, 40%);
    border-radius: 24px;
}
#featured .featured-card-box .featured-card iframe{
    width: 100%;
    min-height: 214px;
    border-radius: 24px 24px 0 0;
}
#featured .featured-card-box .featured-card .featured-card-content{
    padding: 24px;
}
#featured .featured-card-box .featured-card .featured-card-content .card-info{
    margin: 12px 0;
    opacity: 60%;
}
#featured .featured-card-box .featured-card .featured-card-content .time{
    display: flex;
    align-items: center;
    gap: 6px;
}
#featured .featured-card-box .featured-card .featured-card-content .time img{
    max-width: 20px;
    height: 20px;
}
#featured .featured-card-box .featured-card .featured-card-content .time-info{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--accent-color);
    
}
/* FEATURED SECTION */
#host {
    margin: 120px auto;
    padding: 20px;
}
#host>.section-title{
    text-align: center;
    margin-bottom: 40px;
}
#host .host-card{
    padding: 40px;
    border-radius: 40px;
    gap: 24px;
    align-items: center;
    background-color: rgba(53, 17, 101, 40%);
}
#host .host-card .host-image{
    max-width: 200px;
}
#host .host-card .host-content .host-title{
    font-size: 32px;
    font-weight: bold;
}
#host .host-card .host-content>.card-info{
    margin: 16px 0;
    line-height: 24px;
}

#host .host-card .host-content .social-links{
    gap: 8px;
}
#host .host-card .host-content .social-links .image-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #533C72;
    border-radius: 50%;
}

#host .host-card .host-content .social-links img{
    width: 16px;
    /* height: 16px; */
    
    
}

/* FOOTER SECTION */
footer{
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
footer .footer-content{
    text-align: center;
    padding: 120px 0;
}

footer .footer-content .footer-logo{
    max-width: 410px;
    margin-bottom: 32px;
}
footer .footer-content .social-container{
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 32px;
}
footer .footer-content .social-container .item{
    align-items: center;
    gap: 8px;
}
footer .footer-content .social-container .item img{
    max-width: 24px;

}
footer .footer-content .social-container .item a{
    text-decoration: none;
    color: #fff;
    opacity: 60%;
    font-weight: 500;
}
footer .footer-content .copyright{
    font-size: 16px;
    color: #fff;
    opacity: 60%;
    line-height: 24px;
}




/* medium responsive design */
@media screen and (min-width: 576px) and (max-width:992px) {
    #banner{
        background-position-y: 150px;
    }
    
    /* ABOUT SECTION */
    #about{
        margin: 0;
    padding: 20px;
    }
    #about .showcase-box .item .number{
    font-size: 40px;
    }

    /* why choose section */
    #why-choose{
        padding: 70px 20px;
    }
    #why-choose .why-choose-card-box .card{
    background-color: rgba(53, 17, 101, 40%);
    padding: 20px;
    border-radius: 40px;
    }
    #why-choose .why-choose-card-box{
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
    }
    #why-choose .why-choose-card-box .card-1{
    grid-column: 1/3;
    align-content: center;
    }
    #why-choose .why-choose-card-box .card-2{
    grid-column: auto;
}
    #why-choose .why-choose-card-box .card-3{
    grid-column: auto;
}
    #why-choose .why-choose-card-box .card-4{
    grid-column: auto;
}

/* FEATURED SECTION */

#featured .featured-card-box{
    grid-template-columns: repeat(2,1fr);
}
#featured .featured-card-box .featured-card iframe{
    min-height: 280px;
}

/* MEET THE HOST SECTION */
#host{
    padding: 20px;
}

/* FOOTER SECTION  */
footer{
    background-size: 1500px;
    background-position-x: center;
    background-position-y: center;
}
footer .footer-content{
    text-align: center;
    padding: 60px 0;
}
footer .footer-content .footer-logo{
    max-width: 310px;
}
}





/* mobile responsive */

@media screen and (max-width: 576px) {
    /* shared styles */
    .section-title{
    font-size: 32px;
    }
    .card-title{
    font-size: 22px;
    }


    /* normal style */
    nav{
        padding: 18px 20px;
        
    }
    nav .logo{
        max-width: 137px;
        height: 20px;
    }
    nav .menu{
        display: none;
    }
    nav .header-btn{
        display: none;
    }
    nav .hamburger{
        display: block;
        max-width: 24px;
    }


    /* banner-section */
    #banner{
        background-image: url(./assets/Image.png);
        padding: 40px 20px;
        height: 530px;
        background-size: cover;
        background-position-y: 180px;
        background-position: center center;
    }
    #banner .banner-content .circle-container {
    width: 200px;
    height: 200px;
    }
    #banner .banner-content .microphone{
    max-width:80px;
    }
    #banner .banner-content .circle-container .notice{
        top: 0;
        right: 0;
    }
    #banner .banner-content .banner-title{
        font-size: 40px;
    }

    /* about section */
    #about{
        padding: 0 20px;
    }
    #about .about-content{
    text-align: center;
    padding:0 0 40px;
    border-bottom: 1px solid #909090;

}
    #about .about-content .section-info .line-break{
        display: none;
    }
    #about .showcase-box{
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    }
    #about .showcase-box .item .number{
    font-size: 40px;
}
     /* why choose section */
     #why-choose{
        padding: 40px 20px;
     }
     #why-choose .why-choose-card-box{
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 16px;
    }
    #why-choose .why-choose-card-box .card{
        grid-column: auto;
        padding: 24px;
        border-radius: 24px;
    }


    /* FEATURED SECTION */
#featured{
    margin: 60px auto;
}
#featured .featured-card-box{
    grid-template-columns: 1fr;
    gap: 16px;
}
#featured .featured-card-box .featured-card .featured-card-content>.card-title{
    font-size: 20px;
}
#featured .featured-card-box .featured-card iframe{
    min-height: 280px;
}
#featured .featured-card-box .featured-card .featured-card-content{
    padding: 16px;
}


/* MEET THE HOST SECTION */
#host{
    padding: 20px;
    margin: 60px auto;
}
#host .host-card{
    flex-direction: column;
    padding: 20px;
    
}
#host .host-card .host-content{
    text-align: center;
}
#host .host-card .host-content .host-title{
    font-size: 24px;
}
#host .host-card .host-content .social-links{
    justify-content: center;
}

/* FOOTER SECTION */
footer{
    background-repeat: repeat;
    background-size: 700px ;
    background-position-y: 190px;
    background-position-x: center;
}
footer .footer-content{
    text-align: center;
    padding: 40px 20px;
}
footer .footer-content .footer-logo{
    max-width: 219px;
    margin-bottom: 24px;
}
footer .footer-content .social-container{
    
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 24px;
    max-width: 255px;
}
.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
}





@keyframes bouncing {
    0%{
        background-color: #00FF88;
        transform: scale(1);
        
    }
    25%{
        background-color: #F7E93F;
        transform: scale(1.1);
    }
    50%{
        background-color: #FB09B4;
        transform: scale(1.2);
    }
     75%{
        background-color: #F7E93F;
        transform: scale(1.1);
    }
    100%{
        background-color: #00FF88;
        transform: scale(1);
        
    }
}